SUBSYSTEM=="tty", ACTION=="add", SYSFS{idVendor}=="0403", SYSFS{idProduct}=="6001", SYSFS{serial}=="FTF550GE", SYMLINK="usbswitch", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", SYSFS{idVendor}=="0403", SYSFS{idProduct}=="6001", SYSFS{serial}=="FTBSYAD2", SYMLINK="telescope", MODE="0666"
SUBSYSTEM=="tty", ACTION=="add", SYSFS{idVendor}=="0403", SYSFS{idProduct}=="6001", SYSFS{serial}=="FTB3MMXY", SYMLINK="gps", MODE="0666"
